---
import { AnalyticsPageContent } from './AnalyticsPageContent'
import type {
  ForestPlotDataRow,
  AnalyticsMaternalRow,
  ScatterMaternalRow,
} from '@/lib/parquet'
import type { EducationIndicator } from '@/lib/parquet'

interface Props {
  title: string
  text: string
  forestPlotData?: ForestPlotDataRow[]
  analyticsMaternalData?: AnalyticsMaternalRow[]
  scatterMaternalData?: ScatterMaternalRow[]
  csvPath?: string
  geojsonUrls: Record<EducationIndicator, string>
  maternalGeojsonUrl?: string
  csvUrl?: string
}

const {
  title,
  text,
  forestPlotData,
  analyticsMaternalData,
  scatterMaternalData,
  csvPath,
  geojsonUrls,
  maternalGeojsonUrl,
  csvUrl,
} = Astro.props
---

<div class="mx-auto max-w-[120em] px-2 sm:px-6 lg:px-10 mb-16">
  <div class="flex flex-col gap-2">
    <h1 class="text-3xl font-bold my-6">{title}</h1>
    <!-- <p class="text-gray-700">{text}</p> -->
    <AnalyticsPageContent
      forestPlotData={forestPlotData}
      analyticsMaternalData={analyticsMaternalData}
      scatterMaternalData={scatterMaternalData}
      csvPath={csvPath}
      geojsonUrls={geojsonUrls}
      maternalGeojsonUrl={maternalGeojsonUrl}
      csvUrl={csvUrl}
      client:only="react"
    />
  </div>
</div>
